@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  min-width: 90vw;
  min-height: 80vh;
  margin: 5rem;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #19a2ae;
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: bottom 20vh right 48vw, top 40vh left 45vw;
  -webkit-box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  max-width: 22.5rem;
  background: #fff;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
}

.card__pattern {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__info--name, .card__stat--number {
  font-size: 1.125rem;
  color: #2d3248;
}

.card__info--age, .card__info--location, .card__stat--text {
  font-weight: 400;
  color: #6a6f81;
}

.card__stat--text {
  margin-top: 0.5rem;
  font-size: 0.625rem;
  letter-spacing: 2px;
}

.card hr {
  background-color: #969696;
}

.card .spliter {
  border-top: 1px solid rgba(150, 150, 150, 0.1);
}

.card__info {
  padding-top: 5rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card__info--profile {
  border-radius: 50%;
  height: 6.5rem;
  width: 6.5rem;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 4px solid #fff;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__info--age {
  margin-left: 0.5rem;
}

.card__info--location {
  margin-top: 1rem;
}

.card__stats {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 53.125rem) {
  .container {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    min-width: 100vw;
    min-height: 100vh;
    background-position: bottom 40vh right 58vw, top 40vh left 45vw;
    margin: 0;
  }
}

@media only screen and (max-width: 23.75rem) {
  .card {
    margin: 0 2rem;
  }
  .card__pattern {
    width: 125vw;
  }
  .card__info--profile {
    top: 43%;
  }
  .card__stats {
    padding: 1rem;
  }
}

@media only screen and (max-width: 20rem) {
  html {
    font-size: 0.875rem;
  }
  .card__info--profile {
    top: 40%;
  }
  .card__stats {
    padding: 1rem;
  }
  .card__stat {
    margin: 1rem;
  }
}

@media only screen and (max-width: 18.75rem) {
  .card__pattern {
    height: 70vw;
  }
  .card__info--profile {
    top: 37%;
  }
  .card__stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 16.875rem) {
  .card__info--profile {
    top: 35%;
  }
}

@media only screen and (max-width: 14.375rem) {
  .card__info--profile {
    top: 31%;
  }
  .card__stats {
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 12.8125rem) {
  .card__info--profile {
    height: 6rem;
    width: 6rem;
    top: 28%;
  }
  .card__info--age {
    margin-left: 0;
  }
}
/*# sourceMappingURL=main.css.map */